@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../fonts/Roboto-Condensed.ttf");
}

:root {
    /* ---------------Variable couleur----------------- */
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-font-general: rgb(121, 121, 121);
    --color-green-text: rgb(0, 221, 177);
    --color-green: rgb(8, 248, 200);
    --color-red: rgb(255, 95, 95);
    --color-blue: rgb(255, 95, 95);
    --color-yellow: rgb(255, 95, 95);
    /*rgb(8, 248, 200);*/
    /* ---------------Variable font-family------------- */
    --font-roboReg: "Roboto-Regular", arial, sans-serif;
    --font-roboThin: "Roboto-Thin", arial, sans-serif;
    --font-roboBoldCond: "Roboto-Condensed", arial, sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboReg);
    color: var(--color-font-general);
    width: 100%;
    background-image: url("../images/circuitwhite.png");
    background-attachment: fixed;
    background-repeat: repeat;
    font-size: 16px;
    scrollbar-width: none;
}

main {
    min-height: 100vh;
    background: rgba(17, 17, 17, 0.97);
    scroll-behavior: smooth;
}

.section-center {
    min-height: 90vh;
    margin-top: max(0.5vw, 10px);
}

.message {
    margin-top: max(0.5vw, 10px);
}

.red, .green {
    font-size: max(1.1vw, 12px);
}

.red {
    color: rgb(255, 71, 71);
}

.green {
    color: rgb(0, 148, 0);
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a, .unselectable {
    list-style-type: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centerJust {
    justify-content: center;
}

.centerAlign {
    align-items: center;
}

.centerAll {
    justify-content: center;
    align-items: center;
}


.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}


.spaceBetween {
    justify-content: space-between;
}

.flexStart{
    justify-content: flex-start;
}
.flexEnd{
    justify-content: flex-end;
}

/* ---------------Margins and gutters----------------- */
/* Gutters */
.gap {
    gap: clamp(10px, 1vw, 20px);
}

.gap-m {
    gap: max(2vw, 20px);
}

.gap-l {
    gap: max(3vw, 30px);
}

/* Margin top */
.margT-xs {
    margin-top: max(0.5vw, 2px);
}
.margT-s {
    margin-top: max(1vw, 5px);
}

.margT-m {
    margin-top: max(4vw, 15px);
}

.margT-l {
    margin-top: max(8vw, 30px);
}

/* Margin bottom */
.margB-xs {
    margin-bottom: max(0.5vw, 2px);
}
.margB-s {
    margin-bottom: max(1vw, 5px);
}

.margB-m {
    margin-bottom: max(4vw, 15px);
}

.margB-l {
    margin-bottom: max(8vw, 30px);
}

/* Margin right */

.margR-s {
    margin-right: max(1vw, 5px);
}

.margR-m {
    margin-right: max(4vw, 15px);
}

.margR-l {
    margin-right: max(8vw, 30px);
}

/* Margin left */
.margL-s {
    margin-left: max(1vw, 5px);
}

.margL-m {
    margin-left: max(4vw, 15px);
}

.margL-l {
    margin-left: max(8vw, 30px);
}

/* ---------------End margins and gutters----------------- */

/* ---------------------------------------------- BTN RETURN ---------------------------------------------- */
.return-btn {
    position: fixed;
    background-color: var(--color-black);
    color: var(--color-white);
    width: 30px;
    height: 80px;
    bottom: 20%;
    right: 0.5%;
    box-shadow: 0 0 1px var(--color-white),
        0 0 2px var(--color-white),
        0 0 4px var(--color-white),
        0 0 6px var(--color-white);
    border-radius: 50px;
    transition: 0.5s;
}

.return-btn:hover {
    width: 50px;
    height: 50px;
    color: var(--color-white);
    transition: 0.5s;
}

.btn-arrow {
    width: 30px;
    height: 30px;
    transition: 0.5s;
    border-radius: 5px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END BTN RETURN xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ---------------------------------------------- COLOR THEME ---------------------------------------------- */

/* Border bottom header*/
.header-green::before {
    background: var(--color-green);
    box-shadow: 0 0 5px var(--color-green),
        0 0 10px var(--color-green),
        0 0 15px var(--color-green),
        0 0 30px var(--color-green);
}

.header-red::before {
    background: var(--color-red);
    box-shadow: 0 0 5px var(--color-red),
        0 0 10px var(--color-red),
        0 0 15px var(--color-red),
        0 0 30px var(--color-red);
}

.header-blue::before {
    background: var(--color-green);
    box-shadow: 0 0 5px var(--color-green),
        0 0 10px var(--color-green),
        0 0 15px var(--color-green),
        0 0 30px var(--color-green);
}

.header-yellow::before {
    background: var(--color-green);
    box-shadow: 0 0 5px var(--color-green),
        0 0 10px var(--color-green),
        0 0 15px var(--color-green),
        0 0 30px var(--color-green);
}


/* Links */
.a-navMenu-green:hover {
    color: var(--color-green);
}

.a-navMenu-red:hover {
    color: var(--color-red);
}

.a-navMenu-blue:hover {
    color: var(--color-green);
}

.a-navMenu-yellow:hover {
    color: var(--color-green);
}


/* Panel dropmenu*/
.panel-green {
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
}

.panel-red {
    border-top: 1px solid var(--color-red);
    border-bottom: 1px solid var(--color-red);
}

.panel-blue {
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
}

.panel-yellow {
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
}


/* Icon account */
.iconPersoCo-green, .iconPersoDeco-green {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.iconPersoCo-red, .iconPersoDeco-red {
    border: 2px solid var(--color-red);
    color: var(--color-red);
}

.iconPersoCo-blue, .iconPersoDeco-blue {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.iconPersoCo-yellow, .iconPersoDeco-yellow {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.iconPersoCo-green:hover, .iconPersoDeco-green:hover,
.iconPersoCo-red:hover, .iconPersoDeco-red:hover,
.iconPersoCo-blue:hover, .iconPersoDeco-blue:hover,
.iconPersoCo-yellow:hover, .iconPersoDeco-yellow:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.iconPersoCo:hover, .iconPersoDeco:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.iconPersoCo:hover, .iconPersoDeco:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.iconPersoCo:hover, .iconPersoDeco:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

/* Panel account*/
.slide-green, .slide2-green {
    box-shadow: 0 0 1px var(--color-green),
        0 0 2px var(--color-green),
        0 0 4px var(--color-green),
        0 0 6px var(--color-green);
}

.slide-red, .slide2-red {
    box-shadow: 0 0 1px var(--color-red),
        0 0 2px var(--color-red),
        0 0 4px var(--color-red),
        0 0 6px var(--color-red);
}

.slide-blue, .slide2-blue {
    box-shadow: 0 0 1px var(--color-green),
        0 0 2px var(--color-green),
        0 0 4px var(--color-green),
        0 0 6px var(--color-green);
}

.slide-yellow, .slide2-yellow {
    box-shadow: 0 0 1px var(--color-green),
        0 0 2px var(--color-green),
        0 0 4px var(--color-green),
        0 0 6px var(--color-green);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END COLOR THEME xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ---------------------------------------------- HEADER ---------------------------------------------- */

header {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

.header-green::before, .header-red::before, .header-blue::before, .header-yellow::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 100%;
    height: 2px;
    z-index: 1;
}


/* MAIN MENU */
#navMenu {
    position: relative;
    font-size: max(0.9vw, 15px);
}

.navMenu-li, .li-dropdown {
    margin: 0px 5px;
}

.a-navMenu, .li-dropdown {
    display: block;
    text-align: center;
    width: max(7vw, 130px);
    color: white;
    border-radius: 5px;
    transition: 0.7s;
    padding: 10px 0;
}

.a-navMenu:hover, .li-dropdown:hover {
    letter-spacing: max(0.1vw, 2px);
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
}

/* Dropdown */
.li-dropdown {
    position: relative;
    width: 100px;
}

.li-dropdown:hover ul {
    height: 120px;
    opacity: 1;
}

.panel {
    position: absolute;
    opacity: 0;
    top: 50px;
    font-size: max(0.7vw, 10px);
    z-index: 1000;
    height: 0;
    width: 100px;
    overflow: hidden;
    -moz-transition: .2s all .2s;
    -webkit-transition: .2s all .2s;
    transition: .2s all .2s;
    background-color: rgba(0, 0, 0, 0.9);
}


.panel a {
    display: block;
    padding: 10px;
    color: var(--color-white);
    letter-spacing: max(0.1vw, 2px);
    transition: 0.5s;
}

.a-html {
    margin-top: 15px;
}

.a-java {
    margin-bottom: 15px;
}

/* End dropdown */




/* END MAIN MENU */



/* MENU ACCOUNT */
#navConnect {
    position: absolute;
    top: 7px;
    right: 2vw;
    display: flex;
    flex-direction: row;
}


.spanNav {
    cursor: pointer;
    justify-content: flex-end;
}

.iconPersoCo, .iconPersoDeco {
    padding: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


.iconPersoCo:hover, .iconPersoDeco:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.link-profil {
    font-size: max(0.8vw, 12px);
    margin-top: 10px;
    color: var(--color-white);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.slide, .slide2 {
    position: relative;
    background-color: var(--color-black);
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: height .1s ease;
    transition: height .1s ease;
    margin-top: -5px;
    z-index: 10;
}


.slide li, .slide2 li {
    padding: 5px 13px 5px 13px;
    margin: 0;
}

.slide li a, .slide2 li a {
    font-size: max(0.8vw, 10px);
    color: var(--color-white);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#touch {
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 150px;
}

#touch:checked+.slide2 {
    height: 30px;
}


/* END MENU ACCOUNT */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END HEADER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */




/* ---------------------------------------------- MEDIAQUERIES ---------------------------------------------- */

@media screen and (max-width: 900px) {
    header {
        justify-content: flex-start;
    }

    .navMenu-ul {
        position: fixed;
        left: -110%;
        top: 60px;
        flex-direction: column;
        width: 100%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        padding: 30px 0;
        color: var(--color-white);
        background: var(--color-black);
        z-index: 5;
    }

    .navMenu-ul::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        width: 100%;
        height: 2px;
        z-index: 1;
    }

    .navMenu-ul-green::before {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul-red::before {
        background: var(--color-red);
        box-shadow: 0 0 5px var(--color-red),
            0 0 10px var(--color-red),
            0 0 15px var(--color-red),
            0 0 30px var(--color-red);
    }

    .navMenu-ul-blue::before {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul-yellow::before {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -2px;
        width: 100%;
        height: 2px;
        z-index: 1;
    }

    .navMenu-ul-green::after {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul-red::after {
        background: var(--color-red);
        box-shadow: 0 0 5px var(--color-red),
            0 0 10px var(--color-red),
            0 0 15px var(--color-red),
            0 0 30px var(--color-red);
    }

    .navMenu-ul-blue::after {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul-yellow::after {
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul.active {
        left: 0;
    }

    .a-navMenu {
        margin: 15px;
        color: var(--color-white);
    }

    .a-navMenu-green:hover {
        background-color: transparent;
        color: var(--color-green);
    }

    .a-navMenu-red:hover {
        background-color: transparent;
        color: var(--color-red);
    }

    .a-navMenu-blue:hover {
        background-color: transparent;
        color: var(--color-green);
    }

    .a-navMenu-yellow:hover {
        background-color: transparent;
        color: var(--color-green);
    }

    /* Dropdown */
    .panel {
        top: -40px;
        left: 110px;
        height: 0;
        width: 90px;
    }

    .li-dropdown {
        margin: 20px;
    }

    .panel a {
        padding: 0;
        margin: 10px;
    }

    /* End dropdown */

    .hamburger {
        position: relative;
        top: 2px;
        left: 10px;
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (orientation: landscape) and (max-height: 800px) {
    .navMenu-ul {
        padding: 20px 0;
    }

    .a-navMenu {
        margin: 10px;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {

    /*top page button*/
    .return-btn {
        bottom: 5%;
    }

    *, .hamburger {
        cursor: none;
    }
}

@media screen and (min-width: 346px) and (max-width: 550px) {

    /*top page button*/
    .return-btn {
        width: 30px;
        height: 80px;
        bottom: 5%;
    }

    .return-btn:hover {
        width: 30px;
        height: 80px;
    }

    .btn-arrow {
        width: 25px;
        height: 25px;
    }

    *, .hamburger {
        cursor: none;
    }
}

@media screen and (max-width: 345px) {

    /*top page button*/
    .return-btn {
        width: 18px;
        height: 60px;
        bottom: 5%;
    }

    .return-btn:hover {
        width: 18px;
        height: 60px;
    }

    .btn-arrow {
        width: 18px;
        height: 18px;
    }

    *, .hamburger {
        cursor: none;
    }

    /* Menu dropbox */
    .panel {
        top: -40px;
        left: 100px;
        width: 90px;
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END MEDIAQUERIES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */