@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../fonts/Roboto-Condensed.ttf");
}

:root {
    /* ---------------Variable couleur----------------- */
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-font-general: rgb(121, 121, 121);
    --color-green: rgb(8, 248, 200);
    --color-green-text: rgb(0, 221, 177);
    /*rgb(8, 248, 200);*/
    /* ---------------Variable font-family------------- */
    --font-roboReg: "Roboto-Regular", arial, sans-serif;
    --font-roboThin: "Roboto-Thin", arial, sans-serif;
    --font-roboBoldCond: "Roboto-Condensed", arial, sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboReg);
    color: var(--color-font-general);
    width: 100%;
    background-image: url("../images/circuitwhite.png");
    background-attachment: fixed;
    background-repeat: repeat;
    font-size: 16px;
    scrollbar-width: none;
}

main {
    min-height: 100vh;
    background: rgba(17, 17, 17, 0.97);
    scroll-behavior: smooth;
}

.section-center {
    min-height: 90vh;
    margin-top: max(0.5vw, 10px);
}

.message {
    margin-top: max(0.5vw, 10px);
}

.red, .green {
    font-size: max(1.1vw, 12px);
}

.red {
    color: rgb(255, 71, 71);
}

.green {
    color: rgb(0, 148, 0);
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a, .unselectable {
    list-style-type: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centerJust {
    justify-content: center;
}

.centerAlign {
    align-items: center;
}

.centerAll {
    justify-content: center;
    align-items: center;
}


.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}


.spaceBetween {
    justify-content: space-between;
}


.gap {
    gap: max(1vw, 15px);
}
.gap-m {
    gap: max(2vw, 20px);
}

.return-btn {
    position: fixed;
    background-color: var(--color-black);
    width: 30px;
    height: 30px;
    bottom: 10%;
    right: 0.5%;
    box-shadow: 0 0 1px var(--color-green),
        0 0 2px var(--color-green),
        0 0 4px var(--color-green),
        0 0 6px var(--color-green);
    border-radius: 5px;
    transition: 0.5s;
}

.return-btn:hover {

    width: 40px;
    height: 40px;

    color: var(--color-white);
    transition: 0.5s;
    box-shadow: 0 0 1px var(--color-white),
        0 0 2px var(--color-white),
        0 0 4px var(--color-white),
        0 0 6px var(--color-white);
}

.btn-arrow {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    border-radius: 5px;
}

.btn-arrow:hover {
    width: 30px;
    height: 30px;
}

.a-btn {
    color: var(--color-green);
    transition: 0.5s;
}

.a-btn:hover {
    color: var(--color-white);
}




/* ---------------------------------------------- HEADER ---------------------------------------------- */

header {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: black;
}

header::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: var(--color-green);
    box-shadow: 0 0 5px var(--color-green),
        0 0 10px var(--color-green),
        0 0 15px var(--color-green),
        0 0 30px var(--color-green);
}

/* MAIN MENU */
#navMenu {
    position: relative;
    font-size: max(0.9vw, 15px);
}

.navMenu-li, .li-dropdown {
    margin: 0px 5px;
}

.a-navMenu, .li-dropdown {
    display: block;
    text-align: center;
    width: max(7vw, 130px);
    color: white;
    border-radius: 5px;
    transition: 0.7s;
}

.a-navMenu:hover, .li-dropdown:hover {
    letter-spacing: max(0.1vw, 2px);
    color: var(--color-green);
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
}

/* Dropdown */
.li-dropdown {
    position: relative;
    width: 100px;
}

.li-dropdown:hover ul {
    height: 120px;
    opacity: 1;
}

.panel {
    position: absolute;
    opacity: 0;
    top: 35px;
    font-size: max(0.7vw, 10px);
    z-index: 1000;
    height: 0;
    width: 100px;
    overflow: hidden;
    -moz-transition: .2s all .2s;
    -webkit-transition: .2s all .2s;
    transition: .2s all .2s;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
}

.panel a {
    display: block;
    padding: 10px;
    color: var(--color-white);
    letter-spacing: max(0.1vw, 2px);
    transition: 0.5s;
}

.panel a:hover {
    color: var(--color-green);
}

.a-html {
    margin-top: 15px;
}

.a-java {
    margin-bottom: 15px;
}

/* End dropdown */




/* END MAIN MENU */



/* MENU ACCOUNT */
#navConnect {
    position: absolute;
    top: 4px;
    right: 8px;
    display: flex;
    flex-direction: row;
}


.spanNav {
    cursor: pointer;
    justify-content: flex-end;
}

.iconPersoCo, .iconPersoDeco {
    padding: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.iconPersoCo:hover, .iconPersoDeco:hover {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.link-profil {
    font-size: max(0.9vw, 12px);
    margin-top: 10px;
    color: var(--color-white);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.link-profil:hover {
    color: var(--color-green);
}

.slide, .slide2 {
    position: relative;
    background-color: var(--color-black);
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: height .1s ease;
    transition: height .1s ease;
    margin-top: -7px;
    z-index: 10;
    box-shadow: 0 0 1px var(--color-green),
        0 0 2px var(--color-green),
        0 0 4px var(--color-green),
        0 0 6px var(--color-green);
}

.slide li, .slide2 li {
    padding: 5px 13px 5px 13px;
    margin: 0;
}

.slide li a, .slide2 li a {
    font-size: max(0.8vw, 10px);
    color: var(--color-white);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.slide li a:hover, .slide2 li a:hover {
    color: var(--color-green);
}

#touch {
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 160px;
}

#touch:checked+.slide2 {
    height: 40px;
}


/* END MENU ACCOUNT */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END HEADER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */




/* ---------------------------------------------- MEDIAQUERIES ---------------------------------------------- */

@media screen and (max-width: 900px) {
    header {
        justify-content: flex-start;
    }

    .navMenu-ul {
        position: fixed;
        left: -110%;
        top: 60px;
        flex-direction: column;
        width: 100%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        padding: 30px 0;
        color: var(--color-white);
        background: var(--color-black);
        border-top: 2px solid var(--color-green);
        border-bottom: 2px solid var(--color-green);
        z-index: 5;
    }

    .navMenu-ul::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        width: 100%;
        height: 2px;
        z-index: 1;
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -2px;
        width: 100%;
        height: 2px;
        z-index: 1;
        background: var(--color-green);
        box-shadow: 0 0 5px var(--color-green),
            0 0 10px var(--color-green),
            0 0 15px var(--color-green),
            0 0 30px var(--color-green);
    }

    .navMenu-ul.active {
        left: 0;
    }

    .a-navMenu {
        margin: 20px;
        color: var(--color-white);
    }

    /* Dropdown */
    .panel {
        top: -40px;
        left: 110px;
        height: 0;
        width: 90px;
    }

    .li-dropdown {
        margin: 20px;
    }

    .panel a {
        padding: 0;
        margin: 10px;
    }

    /* End dropdown */

    .hamburger {
        position: relative;
        top: 2px;
        left: 10px;
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .iconPersoCo:hover, .iconPersoDeco:hover {
        border: 2px solid var(--color-green);
        color: var(--color-green);
    }

    .slide li, .slide2 li {
        padding: 5px 4px;
    }

    .a-navMenu:hover {
        background-color: transparent;
        color: var(--color-green);
        padding: 0;
    }
}

@media screen and (orientation: landscape) and (max-height: 800px) {
    .navMenu-ul {
        padding: 20px 0;
    }

    .a-navMenu {
        margin: 10px;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {

    /*top page button*/
    .return-btn {
        bottom: 2%;
    }

    .return-btn:hover {
        width: 40px;
        height: 40px;
        color: var(--color-green);
        box-shadow: 0 0 2px var(--color-green),
            0 0 4px var(--color-green),
            0 0 6px var(--color-green),
            0 0 8px var(--color-green);
    }

    .btn-arrow:hover {
        width: 30px;
        height: 30px;
    }

    .a-btn:hover {
        color: var(--color-green);
    }

    *, .hamburger {
        cursor: none;
    }
}

@media screen and (min-width: 346px) and (max-width: 550px) {

    /*top page button*/
    .return-btn {
        width: 30px;
        height: 30px;
        bottom: 2%;
    }

    .return-btn:hover {
        width: 30px;
        height: 30px;
        color: var(--color-green);
        box-shadow: 0 0 2px var(--color-green),
            0 0 4px var(--color-green),
            0 0 6px var(--color-green),
            0 0 8px var(--color-green);
    }

    .btn-arrow {
        width: 25px;
        height: 25px;
    }

    .btn-arrow:hover {
        width: 25px;
        height: 25px;
    }

    .a-btn:hover {
        color: var(--color-green);
    }

    *, .hamburger {
        cursor: none;
    }
}

@media screen and (max-width: 345px) {

    /*top page button*/
    .return-btn {
        width: 20px;
        height: 60px;
        bottom: 2%;
    }

    .return-btn:hover {
        width: 20px;
        height: 60px;
        color: var(--color-green);
        box-shadow: 0 0 2px var(--color-green),
            0 0 4px var(--color-green),
            0 0 6px var(--color-green),
            0 0 8px var(--color-green);
    }

    .btn-arrow {
        width: 20px;
        height: 50px;
    }

    .btn-arrow:hover {
        width: 20px;
        height: 50px;
    }

    .a-btn:hover {
        color: var(--color-green);
    }

    *, .hamburger {
        cursor: none;
    }

    /* Menu dropbox */
    .panel {
        top: -40px;
        left: 100px;
        width: 90px;
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END MEDIAQUERIES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */