/*____________________COLOR THEME____________________*/


/*MINI MENU*/

/*____HTML____*/
.minMenu-red {
    border: 5px double var(--color-red);
    box-shadow:
        6px 6px 30px 0px rgb(48, 0, 0),
        inset 100px 10px 80px 0px rgb(29, 0, 0);
    text-shadow: 2px 2px 0px rgb(68, 0, 0);
}

.slash-red {
    color: var(--color-red);
}

.a-minMenuRed {
    color: var(--color-red);
    text-shadow: 3px 3px 4px rgb(97, 78, 13);
}

/*____ /End HTML ____*/


/*____CSS____*/
.minMenu-blue {
    border: 5px double var(--color-blue);
    box-shadow:
        6px 6px 30px 0px rgb(0, 16, 46),
        inset 100px 10px 80px 0px rgb(0, 14, 39);
    text-shadow: 2px 2px 0px rgb(0, 20, 58);
}

.slash-blue {
    color: var(--color-blue);
}

.a-minMenuBlue {
    color: var(--color-blue);
    text-shadow: 3px 3px 4px rgb(97, 78, 13);
}

/*____ /End CSS ____*/


/*____JavaScript____*/
.minMenu-yellow {
    border: 5px double #f7cf1edb;
    box-shadow:
        6px 6px 15px 0px #211b00,
        inset 100px 10px 80px 0px #271f00;
    text-shadow: 2px 2px 0px #382e00;
}

.slash-yellow {
    color: #f7cf1e;
}

.a-minMenuYellow {
    color: #f7cf1e;
    text-shadow: 3px 3px 4px rgb(97, 78, 13);
}

/*____ /End JavaScript ____*/

/*END MINI MENU*/




/*SUMMARY TOP PAGE*/

/*____HTML____*/
.navul_red {
    border: 5px double var(--color-red);
}

.a-titleMenu_red {
    color: var(--color-red);
}

.a_red:hover {
    color: rgb(255, 146, 146);
    letter-spacing: 0.5px;
}
/*____End HTML____*/


/*____CSS____*/
.navul_blue {
    border: 5px double var(--color-blue);
}

.a-titleMenu_blue {
    color: var(--color-blue);
}

.a_blue:hover {
    color: rgb(187, 211, 255);
    letter-spacing: 0.5px;
}

/*____ End CSS ____*/



/*____JavaScript____*/
.navul_yellow {
    border: 5px double #f7cf1e;
}

.a-titleMenu_yellow {
    color: #f7cf1e;
}

.a_yellow:hover {
    color: #fce57f;
    letter-spacing: 0.5px;
}

/*____ /End JavaScript ____*/

/*END SUMMARY TOP PAGE*/




/*MENU BURGER*/

/*____HTML____*/
.spin-container_red {
    border: 2px solid var(--color-red);
}

.nav2_red {
    border: 5px double var(--color-red);
}

/*____ End HTML____*/

/*____CSS____*/
.spin-container_blue {
    border: 2px solid var(--color-blue);
}

.nav2_blue {
    border: 5px double var(--color-blue);
}

/*____ End CSS____*/


/*____JavaScript____*/
.spin-container_yellow {
    border: 2px solid #f7cf1e;
}

.nav2_yellow {
    border: 5px double #f7cf1e;
}

/*____ End JavaScript____*/

/*END MENU BURGER*/

/*_XXXXXXXXXXXXXXXXXX_END COLOR THEME_XXXXXXXXXXXXXXXXXX_*/

/*____________________MINI MENU____________________*/

.minMenu {
    font-family: var(--font-roboThin);
    font-size: max(1.3vw, 13px);
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50%;
    width: max(40vw, 270px);
    padding-top: max(1.5vw, 20px);
    padding-bottom: max(2.4vw, 20px);
    text-align: center;
    letter-spacing: 1px;
}

.slash {
    font-size: max(2.2vw, 20px);
}

.a-minMenu {
    font-family: var(--font-roboReg);
    display: block;
    font-size: max(1vw, 12px);
    letter-spacing: max(0.2vw, 0.5px);
    width: max(9vw, 80px);
    padding-top: max(0.3vw, 2px);
    padding-bottom: max(0.3vw, 2px);
    text-decoration: none;
    border-top: 0.10vw solid var(--color-white);
    border-bottom: 0.10vw solid var(--color-white);
    transition: 0.7s;
}

.ul-minMenu li a:hover {
    letter-spacing: max(0.4vw, 0.7px);
}

/*_XXXXXXXXXXXXXXXXXX_END MINI MENU_XXXXXXXXXXXXXXXXXX_*/



/*____________________SUMMARY TOP PAGE____________________*/

.navul {
    padding: max(2vw, 20px);
    margin: 0;
    min-height: 19vh;
    width: 30vw;
    min-width: 300px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

.a-titleMenu {
    font-size: max(1.1vw, 12px);
}

.a-subtitleMenu {
    font-size: max(0.8vw, 10px);
    font-style: italic;
    color: var(--color-white);
    margin-top: max(1vw, 3px);
}

#nav1 a, #nav2 a {
    transition: 0.5s;
}

/*_XXXXXXXXXXXXXXXXXX_END SUMMARY TOP PAGE_XXXXXXXXXXXXXXXXXX_*/


/*____________________MENU BURGER____________________*/

/* BUTTON */

.btn {
    background: transparent;
    position: fixed;
    top: 55px;
    left: -35px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.spin-container {
    width: 30px;
    height: 30px;
    position: relative;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.spin-container.active {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    perspective: 1500px;
    transform-style: preserve-3d;
}

.front {
    background-color: var(--color-black);
}

.back {
    background-color: var(--color-black);
    transform: rotateY(180deg);
}

.barSpin {
    width: 60%;
    height: 2px;
    background: var(--color-white);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.b1 {
    transform: translate(-50%, -8px) translateZ(20px);
}

.b2 {
    transform: translate(-50%, -1px) translateZ(20px);
}

.b3 {
    transform: translate(-50%, 6px) translateZ(20px);
}

.b1.b-back {
    transform: translate(-50%, -1px) translateZ(20px) rotate(45deg);
}

.b3.b-back {
    transform: translate(-50%, -1px) translateZ(20px) rotate(-45deg);
}

/* END BUTTON */


/* PANEL */
#block-nav {
    position: fixed;
    top: 0;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: max(20.5vw, 260px);
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    /*fait passer le menu hors écran sur la droite*/
    transition: transform 0.3s ease-in-out;
    /* transition ouvert/fermé */
    z-index: 1;
}

#block-nav.active {
    transform: translateX(-10px);
}

#nav2 {
    position: fixed;
    min-height: 98vh;
    z-index: 1;
    margin: 0;
    text-align: center;
    border-radius: 10px;
}

.navul2, .navul2b {
    line-height: max(1vw, 15px);
    width: max(20vw, 260px);
    min-height: 16vh;
    list-style-type: none;
}

.a-titleMenu2 {
    font-size: max(0.9vw, 12px);
}

/* END PANEL */

/*_XXXXXXXXXXXXXXXXXX_END MENU BURGER_XXXXXXXXXXXXXXXXXX_*/


#section-1, #section-2, #section-3 {
    width: max(57vw, 320px);
    letter-spacing: 0.5px;
    line-height: max(1.7vw, 20px);
    padding: 2vw 2vw;
    margin: 10vh 0vw 0vh;
    border-radius: 30px;
    background-color: rgb(247, 247, 247);
    box-shadow:
        8px 8px 25px 0px rgb(0, 0, 0),
        inset 2px 2px 30px 10px rgb(156, 156, 156);
    border: 5px double #f7cf1e;
}

.h2Java {
    font-family: var(--font-roboReg);
    text-align: center;
    font-size: max(1.5vw, 14px);
    border-radius: 50px 3px 50px 3px;
    padding: max(0.9vw, 11px);
    width: max(30vw, 260px);
    min-width: 230px;
    margin-top: 5vh;
}

.h3Java {
    font-family: var(--font-roboReg);
    font-size: max(1.1vw, 12px);
    padding: 8px 0;
    text-align: center;
    border-radius: 10px;
    margin: 20vh 0vw 5vh;
    width: max(30vw, 250px)
}

.h4Java {
    font-family: var(--font-roboReg);
    font-size: max(1vw, 12px);
    margin: 2vh 0vw;
    color: var(--color-black);
}

em {
    font-family: var(--font-roboReg);
    font-size: max(0.8vw, 12px);
}

hr {
    margin: 10vh 2vw 0vh 2vw;
    color: var(--color-black);
}

.h2-section {
    background-color: #ebc416;
    box-shadow: 5px 5px 5px 0px #796300, inset 150px 8px 40px 0px #ffe364;
    color: var(--color-black);
    border: 3px solid var(--color-black);
}

.h3-section {
    color: var(--color-black);
    border: 4px double var(--color-black);
    box-shadow: 5px 5px 5px 0px #796300, inset 90px 8px 20px 0px #ffe364;
    background-color: #ebc416;
}

.p-exemple, .p-exempleJs {
    font-family: 'Poppins-SemiBold', helvetica, sans-serif;
    color: white;
    border: 2px solid white;
    background: rgb(4, 133, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: max(10vw, 200px);
    margin: 2vw;
}

.p-player {
    font-size: max(0.8vw, 13px);
    letter-spacing: 1px;
    margin: 0;
}

.p-gras {
    font-family: 'Poppins-Bold', helvetica, sans-serif;
}

.note {
    padding: 10px;
    border-left: 7px solid var(--color-black);
    background-color: #fcde5a;
    margin-top: 4vh;
    color: var(--color-black);
    font-size: max(0.9vw, 12px);
}

.p-Java {
    font-family: 'Poppins-Medium', helvetica, sans-serif;
    font-size: max(0.9vw, 12px);
    margin: 0vh 2vw 2vh;
    color: var(--color-black);
}

.ul-para {
    font-size: max(0.65vw, 11px);
    padding: 0;
    margin: 0vh 3vw 0vh;
}

.ex-code {
    display: block;
    font-family: 'Poppins-Regular', helvetica, sans-serif;
    color: rgb(140, 250, 84);
    font-size: max(0.8vw, 11px);
    background-color: black;
    padding: 2vw;
    border-radius: 5px;
    line-height: 25px;
}

.inscription {
    font-family: 'Poppins-Bold', helvetica, sans-serif;
    display: block;
    font-size: max(1vw, 14px);
    text-decoration: none;
    color: #f7cf1edb;
    background-color: black;
    border: 5px double #f7cf1edb;
    border-radius: 20px;
    padding: 15px 10px 15px;
    margin-top: 10vh;
    box-shadow: 5px 5px 10px 1px #2e2600db;
    transition: 0.5s;
}

.inscription:hover {
    letter-spacing: 2px;
    color: black;
    background-color: #f7cf1edb;
    border: 5px double black;
}



/*____________________MEDIAQUERIES____________________*/


@media only screen and (min-width: 581px) and (max-width: 1100px) {
    #section-1, #section-2, #section-3 {
        width: max(50vw, 581px);
    }
}

@media only screen and (min-width: 481px) and (max-width: 580px) {
    #section-1, #section-2, #section-3 {
        width: max(50vw, 481px);
    }
}

@media only screen and (min-width: 390px) and (max-width: 480px) {
    #section-1, #section-2, #section-3 {
        width: max(50vw, 390px);
    }
}

@media only screen and (orientation: landscape) and (max-height: 600px) {
    #block-nav {
        width: 90vw;
    }

    #nav2 {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }

    .navul2, .navul2b {
        width: 42vw;
    }
}

/*_XXXXXXXXXXXXXXXXXX_END MEDIAQUERIES_XXXXXXXXXXXXXXXXXX_*/