/* ---------------------------------------------- PAGE PROFILE ---------------------------------------------- */


.blockProfil, .blockProfilPublic {
    background: #e6e6e6;
    box-shadow: inset 5px -5px 15px #5c5c5c,
        inset -5px 5px 25px #ffffff;
    border: 2px solid var(--color-green);
    border-radius: 10px;
    width: max(90vw, 310px);
}

.blockProfil {
    padding-top: max(2vw, 10px);
    padding-bottom: max(2vw, 10px);
}

.blockProfilPublic {
    margin-top: max(1vw, 10px);
}

.sectionTitle {
    font-family: var(--font-roboThin);
    margin-top: max(1vw, 10px);
    margin-bottom: max(2vw, 20px);

}

.titleH1-profil {
    font-size: max(2.5vw, 30px);
}

.nameProfil {
    font-size: max(2.5vw, 30px);
    color: var(--color-green);
    text-shadow: 0.2px 0.2px 2px rgb(0, 121, 97),
        -0.2px -0.2px 2px rgb(0, 121, 97);
}


.sectionBody1 {
    width: 100%;
    justify-content: center;
}

.gapXL {
    gap: 10vw;
}

.blockLinkProfil, .pseudoMail {
    width: 40%;
    border: 5px double var(--color-green);
    border-left: none;
    border-right: none;
    padding-top: max(3vw, 10px);
    padding-bottom: max(3vw, 10px);
}

.a-profil {
    font-size: max(1vw, 14px);
    color: var(--color-green-text);
    margin-left: max(2vw, 3px);
    transition: 0.3s;
    width: max(15vw, 210px);
    border: max(0.2vw, 1px) solid transparent;
    outline: max(0.1vw, 1px) solid var(--color-green);
    border-radius: 10px;
    padding: max(0.4vw, 5px);
}

.p-profil {
    font-size: max(1vw, 13px);
    margin-left: max(2vw, 3px);
}

.a-deco {
    margin-top: max(2vw, 20px);
    margin-left: max(2vw, 3px);
    color: var(--color-green-text);
}

.a-deco:hover, .a-profil:hover {
    color: var(--color-font-general);
}

/* ---------------------------------------------- PAGE EDIT PROFILE ---------------------------------------------- */


.p-pseudoMailEdit {
    font-size: max(1vw, 12px);
    margin-top: max(1vw, 1px);
}

.name-EditProfil, .email-EditProfil {
    font-size: max(1.5vw, 17px);
    font-family: var(--font-roboThin);
    color: var(--color-green);
    text-shadow: 0.2px 0.2px 1px rgb(0, 121, 97),
        -0.2px -0.2px 1px rgb(0, 121, 97);
    margin-bottom: max(1vw, 1px);
    letter-spacing: max(0.1vw, 1px);
}

.labelInput-edit {
    margin-top: max(2vw, 30px);
    margin-bottom: max(2vw, 10px);
    margin-left: max(2vw, 1px);
    margin-right: max(2vw, 1px);
}

.labelProfil-edit {
    font-size: max(0.7vw, 9px);
    margin-top: max(0.4vw, 6px);
    margin-bottom: max(0.4vw, 4px);
    letter-spacing: max(0.1vw, 1.5px);
}

.inputProfil-edit {
    width: max(20vw, 270px);
    padding: max(0.6vw, 8px);
    font-size: max(0.8vw, 12px);
    letter-spacing: max(0.05vw, 1px);
    color: var(--color-font-general);
    border: max(0.2vw, 1px) solid transparent;
    outline: max(0.1vw, 1px) solid var(--color-green);
    border-radius: 10px;
}

#updateProfil {
    margin-top: max(2vw, 30px);
}

.blockBtn-banish {
    width: 100%;
}

.btn-banish {
    background-color: red;
    color: var(--color-white);
    font-size: max(1vw, 11px);
    padding: max(0.4vw, 3px);
    margin-right: max(2vw, 10px);
    width: max(8vw, 80px);
    border-radius: 5px;
    outline: 2px solid var(--color-white);
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END PAGE EDIT PROFILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ---------------------------------------------- PAGE EDIT TOPIC ---------------------------------------------- */

.a-links-editTopic {
    font-size: max(1vw, 11px);
    margin-top: max(1vw, 5px);
    letter-spacing: max(0.05vw, 0.5px);
    color: var(--color-green-text);
    transition: 0.3s;
}

.a-links-editTopic:hover {
    color: rgb(0, 179, 143);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END PAGE EDIT TOPIC xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */




/* ---------------------------------------------- PAGE ADMIN MODERATEUR ---------------------------------------------- */

.blocks {
    cursor: pointer;
}

.demo-box-gestion {
    position: absolute;
    display: none;
    padding-top: 10px;
    font-weight: 300;
    left: 0;
    top: 0;
    width: 50%;
    max-height: 100vh;
    overflow: auto;
    z-index: 1;
    -webkit-animation-name: scale;
    -webkit-animation-duration: 0.6s;
    animation-name: scale;
    animation-duration: 0.6s;
}


@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.overlayContent {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.close-block2 {
    position: relative;
    top: 1px;
    right: 5px;
    color: var(--color-white);
    font-size: max(2.5vw, 40px);
    transition: 0.2s;
}

.close-block2:hover, .close-block2:focus {
    color: var(--color-green);
    text-decoration: none;
    cursor: pointer;
}

#demo_box5, #demo_box6, #demo_box7, #demo_box8, #demo_box9, #demo_box10 {
    background-color: rgba(0, 0, 0, 0.8);
    border: 5px double white;
}

/* ARRAY */

.container-member {
    width: 100%;
    color: var(--color-white);
}

.block-list-member {
    background-color: rgba(0, 0, 0, 0.713);
    width: 90%;
}

/* Ensemble des colonnes */
.col_member {
    width: 100%;
    border: 1px solid var(--color-green);
}

/* Colonnes séparées */
.block-title-id, .block-id {
    width: 8%;
}

.block-title-pseudo, .block-pseudo {
    width: 20%;
}

.block-title-mail, .block-mail {
    width: 57%;
}

.block-title-modif, .block-modif {
    width: 15%;
}

/* Colonnes séparées des posts */
.block-title-id_question, .block-id_question {
    width: 20%;
}

.block-title-pseudo_post, .block-pseudo_post {
    width: 30%;
}

.block-title-date, .block-date {
    width: 30%;
}

.block-title-modif_post, .block-modif_post {
    width: 20%;
}

/* End */

/* Sub block btn */

.sub-block-pseudoBan {
    width: 100%;
}

.a-modif {
    outline: 1px solid var(--color-green);
    background-color: var(--color-black);
    color: var(--color-green);
    width: max(5vw, 45px);
    height: max(1.5vw, 12px);
    border-radius: 5px;
    transition: 0.5s;
}

.a-modif:hover {
    color: var(--color-white);
}

.a-modifPseudo {
    margin-right: max(2vw, 5px);
}

/* End */

.li-title-member span {
    padding: max(0.5vw, 5px);
}

.li-title-member {
    font-size: max(0.9vw, 9px);
    border-bottom: 1px solid var(--color-green);
    background-color: rgba(0, 0, 0, 0.5);
}

.li-list-member {
    font-size: max(0.9vw, 9px);
}


.a-pseudo, .a-titre {
    color: var(--color-green);
    transition: 0.5s;
}

.a-pseudo:hover, .a-id:hover, .a-titre:hover {
    color: var(--color-white);
}

.a-mail {
    color: var(--color-white);
}

.block-pseudo, .block-pseudo_post, .block-mail, .block-date, .block-modif, .block-modif_post {
    border-left: 1px solid var(--color-green);
}

.block-pseudo, .block-pseudo_post, .a-id, .a-mail, .a-titre {
    padding-top: max(1vw, 10px);
    padding-left: max(0.5vw, 5px);
    padding-right: max(0.5vw, 5px);
    padding-bottom: max(1vw, 10px);
}

/* END ARRAY */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END PAGE ADMIN MODERATEUR xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ---------------------------------------------- MEDIAQUERIES ---------------------------------------------- */

@media screen and (max-width: 1000px) {
    .wrap-edit {
        flex-direction: column;
    }

    .demo-box-gestion {
        width: 100%;
    }

    .block-list-member {
        background-color: rgba(0, 0, 0, 0.713);
        width: 95%;
    }

    .col_member {
        width: 100%;
        border: 1px solid var(--color-green);
    }

    /* Ensemble des colonnes */
    .block-title-id, .block-id {
        display: none;
    }

    .block-title-pseudo, .block-pseudo {
        width: 25%;
    }

    .block-title-mail, .block-mail {
        width: 60%;
    }

    .block-title-modif, .block-modif {
        width: 20%;
    }

    /* Colonnes séparées des posts */
    .block-title-id_question, .block-id_question {
        width: 19%;
    }

    .block-title-pseudo_post, .block-pseudo_post {
        width: 29%;
    }

    .block-title-date, .block-date {
        width: 32%;
    }

    .block-title-modif_post, .block-modif_post {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .sectionBody1 {
        flex-direction: column;
        align-items: center;
    }

    .blockLinkProfil, .pseudoMail {
        width: 80%;
        border: 3px double var(--color-green);
        border-left: none;
        border-right: none;
    }

}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx END MEDIAQUERIES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */