.blockProfil {
    background: #e6e6e6;
    box-shadow: inset 10px -10px 10px #5c5c5c,
        inset -10px 10px 25px #ffffff;
    border: 2px solid var(--color-green);
    border-radius: 10px;
    width: max(90vw, 270px);
    min-height: 80vh;
    color: var(--color-font-general);
    padding: 2vw;
    margin-top: max(1vw, 10px);
}

.sectionTitle {
    font-family: var(--font-roboThin);
    margin-top: max(1vw, 10px);
    margin-bottom: max(2vw, 20px);

}

.titleH1-profil {
    font-size: max(2.5vw, 25px);
}

.nameProfil {
    font-size: max(3vw, 20px);
    color: var(--color-green);
    text-shadow: 0.2px 0.2px 2px rgb(0, 121, 97),
        -0.2px -0.2px 2px rgb(0, 121, 97);
}


.p-profil, .a-publier, .a-deco {
    font-size: max(1vw, 11px);
    color: var(--color-green);
}

.sectionBody1 {
    width: 100%;
}

.blockLinkProfil, .pseudoMail {
    width: 40%;
    border: 1px solid var(--color-green);
    border-left: none;
    border-right: none;
    padding: max(1vw, 5px);
}

.a-publier, .a-deco {
    color: var(--color-green);
    transition: 0.2s;
}

.a-deco {
    margin-top: max(2vw, 20px);
}

.a-deco:hover, .a-publier:hover {
    color: var(--color-font-general);
}